.work-days-cont {
	padding-left: 1.5rem !important;
	padding-right: 1.5rem !important;
	padding-top: 0.5rem !important;
	padding-bottom: 0.5rem !important;

	.close-icon {
		cursor: pointer;
		position: absolute;
		right: 8px;
		z-index: 100;
	}
}

.accordion {
	overflow: inherit;
}
